<app-pre-shell-container>
    <mat-card-title class="pre-shell-title">{{ 'PasswordResetRequester.Title' | translate }}</mat-card-title>
    <form *ngIf="!Done" (ngSubmit)="RequestPasswordReset()" class="pre-shell-form">
        <div class="pre-shell-field">
            <mat-icon class="pre-shell-field-icon">mail</mat-icon>
            <mat-form-field color="primary" class="pre-shell-field-input">
                <mat-label>{{ 'PasswordResetRequester.Email.Label' | translate }}</mat-label>
                <input type="email" name="Email" [formControl]="Email" matInput>
                <mat-error *ngIf="Email.hasError('required')">{{ 'PasswordResetRequester.Email.Empty' | translate }}</mat-error>
                <mat-error *ngIf="Email.hasError('email')">{{ 'PasswordResetRequester.Email.Invalid' | translate }}</mat-error>
            </mat-form-field>
        </div>
        <div class="pre-shell-button-container">
            <app-button-spinner type="submit" [Active]="Submitting" Color="primary" SpinnerColor="warn" [FullWidth]="true" [Raised]="true">{{ 'PasswordResetRequester.Button' | translate }}</app-button-spinner>
        </div>
        <div *ngIf="Error" class="color-warn error">
            {{ 'PasswordResetRequester.Errors.Default' | translate }}
        </div>
    </form>
    <mat-card-content *ngIf="Done">
        {{ 'PasswordResetRequester.Done' | translate }}
    </mat-card-content>
</app-pre-shell-container>
