.sidenav-container {
    height: 100%;
}

mat-sidenav {
    width: 82.5%;
}

.shell-content {
    height: calc(100% - 56px);
    overflow-y: auto;
}

.shell-content-vertical-center {
    height: calc(100% - 56px);
    margin-top: -28px;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media screen and (min-width: 600px) {
    .shell-content {
        height: calc(100% - 64px);
    }

    .shell-content-vertical-center {
        height: calc(100% - 64px);
        margin-top: -32px;
    }
}

@media screen and (min-width: 900px) {
    .sidenav-container {
        height: calc(100% - 64px);
    }

    mat-sidenav {
        width: 280px;
    }

    .shell-content {
        height: 100%;
    }
}

.toolbar-mobile-padding {
    padding: 0 8px;
}

.toolbar-main-button {
    margin-right: 8px;
}

.toolbar-spacer {
    flex: 1 1 auto;
}

.menu-entry-text {
    padding-left: 32px;
}
