<ng-container *ngIf="Account == undefined">
    <mat-toolbar *ngIf="!Mobile" color="primary">
        <span>Budget</span>
    </mat-toolbar>
    <ng-container *ngIf="!LoadingFailed">
        <mat-spinner></mat-spinner>
        <div>{{ 'Shell.Loading' | translate }}</div>
    </ng-container>
    <ng-container *ngIf="LoadingFailed">
        <div>{{ 'Shell.LoadingFailed' | translate }}</div>
    </ng-container>
</ng-container>
<ng-container *ngIf="Account != undefined">
    <mat-toolbar *ngIf="!Mobile" color="primary">
        <button type="button" (click)="Sidenav.toggle()" mat-icon-button class="toolbar-main-button">
            <mat-icon>menu</mat-icon>
        </button>
        <span>Budget</span>
        <span class="toolbar-spacer"></span>
        <button *ngIf="!Loading" type="button" (click)="Refresh()" mat-icon-button>
            <mat-icon>refresh</mat-icon>
        </button>
        <app-icon-button-spinner *ngIf="Loading" color="warn"></app-icon-button-spinner>
        <button type="button" (click)="AddMovement()" mat-icon-button>
            <mat-icon>add</mat-icon>
        </button>
    </mat-toolbar>
    <mat-sidenav-container class="sidenav-container">
        <mat-sidenav #sidenav [mode]="Mobile ? 'over' : 'side'" [opened]="!Mobile">
            <mat-nav-list>
                <a (click)="SetPageAnalytics()" [class.menu-entry-selected]="Page === 'Analytics'" mat-list-item>
                    <mat-icon>timeline</mat-icon>
                    <span class="menu-entry-text">{{ 'Shell.Menu.Analytics' | translate }}</span>
                </a>
                <a *ngFor="let budget of Account.Budgets" (click)="BudgetMenuAction(budget)" [class.menu-entry-selected]="Page === budget.ID" mat-list-item>
                    <ng-container [ngSwitch]="budget.Status">
                        <!--<mat-icon *ngSwitchCase="BudgetStatus.Main">attach_money</mat-icon>-->
                        <!--<mat-icon *ngSwitchCase="BudgetStatus.Main">local_atm</mat-icon>-->
                        <!--<mat-icon *ngSwitchCase="BudgetStatus.Main">person</mat-icon>-->
                        <mat-icon *ngSwitchCase="BudgetStatus.Main">account_balance</mat-icon>
                        <mat-icon *ngSwitchCase="BudgetStatus.Open">people</mat-icon>
                        <mat-icon *ngSwitchCase="BudgetStatus.NotAccepted">how_to_reg</mat-icon>
                        <mat-icon *ngSwitchCase="BudgetStatus.ToAccept" class="color-warn">new_releases</mat-icon>
                    </ng-container>
                    <span *ngIf="budget.Status === BudgetStatus.Main" class="menu-entry-text">{{ 'Shell.Menu.Main' | translate }}</span>
                    <span *ngIf="budget.Status !== BudgetStatus.Main" class="menu-entry-text">{{ 'Shell.Menu.With' | translate }} {{ budget.With }}</span>
                </a>
                <a (click)="AddBudget()" mat-list-item>
                    <mat-icon>person_add</mat-icon>
                    <span class="menu-entry-text">{{ 'Shell.Menu.NewJointBudget' | translate }}</span>
                </a>
                <mat-divider></mat-divider>
                <a (click)="SetPage('Settings')" [class.menu-entry-selected]="Page === 'Settings'" mat-list-item>
                    <mat-icon>settings</mat-icon>
                    <span class="menu-entry-text">{{ 'Shell.Menu.Settings' | translate }}</span>
                </a>
                <a (click)="Logout()" mat-list-item>
                    <mat-icon>exit_to_app</mat-icon>
                    <span class="menu-entry-text">{{ 'Shell.Menu.Logout' | translate }}</span>
                </a>
            </mat-nav-list>
        </mat-sidenav>
        <mat-sidenav-content>
            <mat-toolbar *ngIf="Mobile" color="primary" class="toolbar-mobile-padding">
                <button *ngIf="SubPage === ''" type="button" (click)="Sidenav.toggle()" mat-icon-button class="toolbar-main-button">
                    <mat-icon>menu</mat-icon>
                </button>
                <button *ngIf="SubPage !== ''" type="button" (click)="SetSubPage('')" mat-icon-button class="toolbar-main-button">
                    <mat-icon>arrow_back_ios</mat-icon>
                </button>
                <span>Budget</span>
                <span class="toolbar-spacer"></span>
                <ng-container *ngIf="SubPage === ''">
                    <button *ngIf="!Loading" type="button" (click)="Refresh()" mat-icon-button>
                        <mat-icon>refresh</mat-icon>
                    </button>
                    <app-icon-button-spinner *ngIf="Loading" color="warn"></app-icon-button-spinner>
                    <button type="button" (click)="AddMovement()" mat-icon-button>
                        <mat-icon>add</mat-icon>
                    </button>
                </ng-container>
                <ng-container *ngIf="SubPage !== ''" [ngSwitch]="SubPage">
                    <ng-container *ngSwitchCase="'BudgetAdder'">
                        <button *ngIf="!Loading" type="button" (click)="SubmitAddBudget()" mat-icon-button>
                            <mat-icon>check</mat-icon>
                        </button>
                        <app-icon-button-spinner *ngIf="Loading" color="warn"></app-icon-button-spinner>
                    </ng-container>
                    <ng-container *ngSwitchCase="'MovementAdder'">
                        <button *ngIf="!Loading" type="button" (click)="SubmitAddMovement()" mat-icon-button>
                            <mat-icon>check</mat-icon>
                        </button>
                        <app-icon-button-spinner *ngIf="Loading" color="warn"></app-icon-button-spinner>
                    </ng-container>
                </ng-container>
            </mat-toolbar>
            <div class="shell-content">
                <ng-container *ngIf="SubPage === ''" [ngSwitch]="Page">
                    <app-overall-analytics *ngSwitchCase="'Analytics'"></app-overall-analytics>
                    <app-settings *ngSwitchCase="'Settings'"></app-settings>
                    <app-budget-tabs *ngSwitchDefault></app-budget-tabs>
                </ng-container>
                <ng-container *ngIf="SubPage !== ''" [ngSwitch]="SubPage">
                    <app-budget-adder #budgetAdder *ngSwitchCase="'BudgetAdder'"></app-budget-adder>
                    <app-movement-adder #movementAdder *ngSwitchCase="'MovementAdder'"></app-movement-adder>
                </ng-container>
            </div>
        </mat-sidenav-content>
    </mat-sidenav-container>
</ng-container>
