<mat-toolbar *ngIf="!Mobile" color="primary">
    <button type="button" (click)="sidenav.toggle()" mat-icon-button class="toolbar-main-button">
        <mat-icon>menu</mat-icon>
    </button>
    <span>Budget</span>
    <span class="toolbar-spacer"></span>
    <button type="button" (click)="OpenMovementAdderDialog()" mat-icon-button>
        <mat-icon>add</mat-icon>
    </button>
    <button type="button" (click)="Logout()" mat-icon-button>
        <mat-icon>exit_to_app</mat-icon>
    </button>
</mat-toolbar>
<mat-sidenav-container class="sidenav-container">
    <mat-sidenav #sidenav [mode]="Mobile ? 'over' : 'side'" [opened]="!Mobile">
        <mat-nav-list *ngIf="Account != undefined">
            <a (click)="SetState(false, 'All')" mat-list-item>
                <mat-icon>arrow_right_alt</mat-icon>
                <span>All</span>
            </a>
            <a *ngFor="let budget of Account.Budgets" (click)="SetState(true, budget.ID)" mat-list-item>
                <mat-icon>arrow_right_alt</mat-icon>
                <span>Main</span>
            </a>
            <a (click)="AddBudget()" mat-list-item>
                <mat-icon>arrow_right_alt</mat-icon>
                <span>Add</span>
            </a>
            <mat-divider></mat-divider>
            <a (click)="SetState(false, 'Settings')" mat-list-item>
                <mat-icon>arrow_right_alt</mat-icon>
                <span>Settings</span>
            </a>
        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
        <mat-toolbar *ngIf="Mobile" color="primary">
            <button type="button" mat-icon-button (click)="sidenav.toggle()" class="toolbar-main-button">
                <mat-icon>menu</mat-icon>
            </button>
            <span>Budget</span>
        </mat-toolbar>
        <div [ngSwitch]="State" class="shell-content">
            <app-overall-analytics *ngSwitchCase="'All'"></app-overall-analytics>
            <app-budget-adder *ngSwitchCase="'BudgetAdder'"></app-budget-adder>
            <app-movement-adder *ngSwitchCase="'MovementAdder'" [Budgets]="OpenBudgets"></app-movement-adder>
            <app-settings *ngSwitchCase="'Settings'"></app-settings>
            <app-budget-tabs *ngSwitchDefault [Budget]="SelectedBudget"></app-budget-tabs>
        </div>
        <ng-container *ngIf="Mobile && State !== 'MovementAdder'">
            <button type="button" (click)="SetState(false, 'MovementAdder')" mat-fab color="accent" class="add-fab">
                <mat-icon>add</mat-icon>
            </button>
        </ng-container>
    </mat-sidenav-content>
</mat-sidenav-container>
