<form #f (ngSubmit)="AddBudget()">
    <div>{{ 'BudgetAdder.Message' | translate }}</div>
    <mat-form-field color="accent" appearance="outline" class="full-width">
        <mat-label>{{ 'BudgetAdder.Label' | translate }}</mat-label>
        <input type="email" name="Email" [formControl]="EmailFormControl" matInput>
        <mat-error *ngIf="EmailFormControl.hasError('required')">{{ 'BudgetAdder.Errors.Empty' | translate }}</mat-error>
        <mat-error *ngIf="EmailFormControl.hasError('email')">{{ 'BudgetAdder.Errors.Email' | translate }}</mat-error>
    </mat-form-field>
</form>
