:host {
    display: flex;
    align-items: center;
    margin: 16px 0px 16px 16px;
}

.right-space {
    margin-right: 20px;
}

.chevron-button {
    width: 32px;
    height: 32px;
    line-height: 32px;
}

.period-description {
    font-size: 22px;
}

.mode-button-icon {
    margin-left: 5px;
    margin-right: -10px;
}
