<button mat-stroked-button (click)="Today()">Today</button>
<button mat-icon-button (click)="Previous()">
    <mat-icon>chevron_left</mat-icon>
</button>
<button mat-icon-button (click)="Next()">
    <mat-icon>chevron_right</mat-icon>
</button>
<ng-container [ngSwitch]="Period.Duration">
    <span *ngSwitchCase="PeriodDuration.All">{{ 'PeriodSelector.Mode.All' | translate }}</span>
    <span *ngSwitchCase="PeriodDuration.Year">{{ Period.Year }}</span>
    <span *ngSwitchCase="PeriodDuration.Month">{{ Period.Month }} {{ Period.Year }}</span>
</ng-container>
<button mat-stroked-button [matMenuTriggerFor]="menu">
    <span>{{ 'PeriodSelector.Mode.' + Duration() | translate }}</span>
    <mat-icon class="mode-button-icon">arrow_drop_down</mat-icon>
</button>
<mat-menu #menu="matMenu">
    <button mat-menu-item (click)="SetDuration(PeriodDuration.All)">{{ 'PeriodSelector.Mode.All' | translate }}</button>
    <button mat-menu-item (click)="SetDuration(PeriodDuration.Month)">{{ 'PeriodSelector.Mode.Month' | translate }}</button>
    <button mat-menu-item (click)="SetDuration(PeriodDuration.Year)">{{ 'PeriodSelector.Mode.Year' | translate }}</button>
</mat-menu>
