form {
    width: 300px;
    margin: 0 auto;
}

mat-button-toggle-group {
    width: 100%;
    margin: 20px 0;
}

mat-button-toggle {
    width: 50%;
}

.category-container {
    margin-bottom: 20px;
}

.category-name {
    margin-left: 16px;
}

.month {
    width: 180px;
}

.year {
    width: 120px;
    display: inline-block;
    text-align: right;
}
