<form (ngSubmit)="ChangePassword()">
    <div class="settings-form-container">
        <mat-icon class="pre-shell-field-icon">lock</mat-icon>
        <mat-form-field color="primary" class="pre-shell-field-input settings-input">
            <mat-label>{{ 'Settings.ChangePassword.CurrentPassword.Label' | translate }}</mat-label>
            <input type="password" name="CurrentPassword" [formControl]="CurrentPassword" matInput>
            <mat-error *ngIf="CurrentPassword.hasError('required')">{{ 'Settings.ChangePassword.CurrentPassword.Empty' | translate }}</mat-error>
        </mat-form-field>
    </div>
    <div class="settings-form-container">
        <mat-icon class="pre-shell-field-icon">lock</mat-icon>
        <mat-form-field color="primary" class="pre-shell-field-input settings-input">
            <mat-label>{{ 'Settings.ChangePassword.NewPassword.Label' | translate }}</mat-label>
            <input type="password" name="NewPassword" [formControl]="NewPassword" matInput>
            <mat-error *ngIf="NewPassword.hasError('required')">{{ 'Settings.ChangePassword.NewPassword.Empty' | translate }}</mat-error>
        </mat-form-field>
    </div>
    <div class="settings-button">
        <app-button-spinner type="submit" [Active]="Submitting" SpinnerColor="accent">{{ 'Settings.ChangePassword.Submit' | translate }}</app-button-spinner>
    </div>
</form>
