<app-pre-shell-container>
    <mat-card-title class="pre-shell-title">{{ 'Login.Title' | translate }}</mat-card-title>
    <form (ngSubmit)="Login()" class="pre-shell-form">
        <div class="pre-shell-field">
            <mat-icon class="pre-shell-field-icon">mail</mat-icon>
            <mat-form-field color="primary" class="pre-shell-field-input">
                <mat-label>{{ 'Login.Email.Label' | translate }}</mat-label>
                <input type="email" name="Email" [formControl]="LoginFormData.Email" matInput>
                <mat-error *ngIf="LoginFormData.Email.hasError('required')">{{ 'Login.Email.Empty' | translate }}</mat-error>
                <mat-error *ngIf="LoginFormData.Email.hasError('email')">{{ 'Login.Email.Invalid' | translate }}</mat-error>
            </mat-form-field>
        </div>
        <div class="pre-shell-field">
            <mat-icon class="pre-shell-field-icon">lock</mat-icon>
            <mat-form-field color="primary" class="pre-shell-field-input">
                <mat-label>{{ 'Login.Password.Label' | translate }}</mat-label>
                <input type="password" name="Password" [formControl]="LoginFormData.Password" matInput>
                <mat-error *ngIf="LoginFormData.Password.hasError('required')">{{ 'Login.Password.Empty' | translate }}</mat-error>
            </mat-form-field>
        </div>
        <div class="pre-shell-button-container">
            <app-button-spinner type="submit" [Active]="LoginFormData.Submitting" Color="primary" SpinnerColor="warn" [FullWidth]="true" [Raised]="true">{{ 'Login.Button' | translate }}</app-button-spinner>
        </div>
        <div *ngIf="LoginFormData.Error !== ''" class="color-warn pre-shell-error">
            {{ 'Login.Errors.' + LoginFormData.Error | translate }}
        </div>
        <div class="bottom-links">
            <a routerLink="/register" class="color-accent">{{ 'Login.Links.Register' | translate }}</a>
            <a routerLink="/passwordreset" class="color-accent">{{ 'Login.Links.ForgotPassword' | translate }}</a>
        </div>
    </form>
</app-pre-shell-container>
