mat-tree {
    min-height: 100%;
}

.top-level-name {
    font-weight: 500;
}

form {
    display: flex;
    width: 100%;
}

mat-form-field {
    width: 180px;
}

.category-name {
    flex: 1;
}

.category-controls {
    display: flex;
    padding-right: 5px;
}

.category-controls-form {
    padding-top: 4px;
}

.add-button {
    margin-left: 5px;
}
