form {
    width: 300px;
    margin: 0 auto;
}

mat-button-toggle-group {
    width: 100%;
    margin: 16px 0;
}

mat-button-toggle {
    width: 50%;
}

.full-width {
    width: 100%;
}

.category-container {
    margin-bottom: 16px;
}
