<form #f (ngSubmit)="AddMovement()">
    <div>
        <mat-button-toggle-group name="Sign" [(ngModel)]="MovementFormData.Sign">
            <mat-button-toggle value="-1">{{ 'MovementAdder.Sign.Expense' | translate }}</mat-button-toggle>
            <mat-button-toggle value="1">{{ 'MovementAdder.Sign.Revenue' | translate }}</mat-button-toggle>
        </mat-button-toggle-group>
    </div>

    <div>
        <mat-form-field color="accent" appearance="outline" class="full-width">
            <mat-label>{{ 'MovementAdder.With.With' | translate }}</mat-label>
            <mat-select name="BudgetID" [(ngModel)]="MovementFormData.BudgetID">
                <mat-option *ngFor="let budget of Budgets" [value]="budget.ID">
                    <ng-container [ngSwitch]="budget.Status">
                        <ng-container *ngSwitchCase="BudgetStatus.Main">
                            {{ 'MovementAdder.With.Me' | translate }}
                        </ng-container>
                        <ng-container *ngSwitchCase="BudgetStatus.Open">
                            {{ budget.With }}
                        </ng-container>
                    </ng-container>
                </mat-option>
            </mat-select>
        </mat-form-field>
    </div>

    <div class="category-container full-width">
        <button type="button" [matMenuTriggerFor]="categoryTypes" mat-stroked-button>{{ 'MovementAdder.Category.Category' | translate }}</button>
        <mat-menu #categoryTypes="matMenu">
            <button [matMenuTriggerFor]="housing" mat-menu-item>Housing</button>
            <button [matMenuTriggerFor]="transport" mat-menu-item>Transport</button>
        </mat-menu>
        <mat-menu #housing="matMenu">
            <button *ngFor="let category of Categories[CategoryType.Housing]" (click)="SetCategory(category)" mat-menu-item>{{ category.Name }}</button>
        </mat-menu>
        <mat-menu #transport="matMenu">
            <button *ngFor="let category of Categories[CategoryType.Transport]" (click)="SetCategory(category)" mat-menu-item>{{ category.Name }}</button>
        </mat-menu>
        <span *ngIf="MovementFormData.Category == undefined" [class.color-warn]="MovementFormData.CategoryEmpty" class="category-name">{{ 'MovementAdder.Category.Choose' | translate }}</span>
        <span *ngIf="MovementFormData.Category != undefined" class="category-name">{{ MovementFormData.Category.Name }}</span>
    </div>

    <div>
        <mat-form-field color="accent" appearance="outline" class="full-width">
            <mat-label>{{ 'MovementAdder.Amount.Amount' | translate }}</mat-label>
            <input type="text" name="Amount" (input)="CheckAmount($event)" [formControl]="MovementFormData.AmountFormControl" matInput>
            <mat-icon matSuffix>euro_symbol</mat-icon>
            <mat-error *ngIf="MovementFormData.AmountFormControl.hasError('required')">{{ 'MovementAdder.Amount.Empty' | translate }}</mat-error>
        </mat-form-field>
    </div>

    <div>
        <mat-form-field color="accent" appearance="outline" class="full-width">
            <mat-label>{{ 'MovementAdder.Period.Period' | translate }}</mat-label>
            <mat-select name="Period" [(ngModel)]="MovementFormData.Period">
                <mat-option [value]="0">
                    {{ 'MovementAdder.Period.OneTime' | translate }}
                </mat-option>
                <mat-option [value]="1">
                    {{ 'MovementAdder.Period.OverTheYear' | translate }}
                </mat-option>
                <mat-option [value]="2">
                    {{ 'MovementAdder.Period.Monthly' | translate }}
                </mat-option>
                <mat-option [value]="3">
                    {{ 'MovementAdder.Period.Yearly' | translate }}
                </mat-option>
            </mat-select>
        </mat-form-field>
    </div>

    <div>
        <mat-form-field color="accent" appearance="outline" class="month">
            <mat-label>{{ 'MovementAdder.Month' | translate }}</mat-label>
            <mat-select name="Month" [(ngModel)]="MovementFormData.Month">
                <mat-option *ngFor="let month of Months" [value]="month.Code">
                    {{ month.String | translate }}
                </mat-option>
            </mat-select>
        </mat-form-field>
        <app-year-selector name="Year" [(ngModel)]="MovementFormData.Year" class="year"></app-year-selector>
    </div>
</form>
