<form (ngSubmit)="AddMovement()">
    <mat-radio-group name="Sign" [(ngModel)]="MovementFormData.Sign">
        <mat-radio-button value="-1">Depense</mat-radio-button>
        <mat-radio-button value="1">Recette</mat-radio-button>
    </mat-radio-group>
    <mat-form-field class="example-full-width">
        <input type="number" name="Amount" [(ngModel)]="MovementFormData.Amount" placeholder="Amount" matInput>
    </mat-form-field>
    <mat-form-field>
        <mat-select name="BudgetID" [(ngModel)]="MovementFormData.BudgetID">
            <mat-option *ngFor="let budget of Budgets" [value]="budget.ID">
                <ng-container [ngSwitch]="budget.Status">
                    <ng-container *ngSwitchCase="BudgetStatus.Main">
                        Pour moi
                    </ng-container>
                    <ng-container *ngSwitchCase="BudgetStatus.Open">
                        Avec {{ budget.With }}
                    </ng-container>
                </ng-container>
            </mat-option>
        </mat-select>
    </mat-form-field>

    <button mat-stroked-button [matMenuTriggerFor]="categoryTypes">Category</button>
    <mat-menu #categoryTypes="matMenu">
        <button [matMenuTriggerFor]="" mat-menu-item>fu</button>
    </mat-menu>

    <mat-menu #housing="matMenu">
        <button mat-menu-item></button>
    </mat-menu>

    <mat-form-field>
        <mat-select name="Month" [(ngModel)]="MovementFormData.Month" placeholder="Month">
            <mat-option *ngFor="let month of Months" [value]="month.Code">
                {{ month.String }}
            </mat-option>
        </mat-select>
    </mat-form-field>
    <app-year-selector name="Year" [(ngModel)]="MovementFormData.Year"></app-year-selector>
    <button type="submit" mat-raised-button>
        <mat-spinner diameter="24" strokeWidth="3"></mat-spinner>
    </button>
</form>
